@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Etiquetas*/
body{
	background: #E0E4E5;
	font-family: 'Open Sans', sans-serif;
}
.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap h1{
	color: black;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;

}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: black;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-top: 20px;
	background: #f35b04;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #232752;
}

/* PRODUCTOS */

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}

.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #232752;

	text-align: center;
	text-decoration: none;
	color: #fff;
}


header{
	background: #232752;
	padding: 0;
	width: 100%;
	text-align: center;
}

header h1{
	text-align: center;
	padding-bottom: 10px;
	color: #f35b04;
	font-family: 'Tinos', serif;

}

header img{
	padding-top: 10px;
	width: 5%;

}

nav{
	background: #232752;
}

nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li a{
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	display: block;
	font-family: 'Archivo Narrow', sans-serif;
	
}

nav ul li a:hover{
	background: #f35b04;
	color: #000;
}


footer{
	width: 100%;
	padding: 1px 0px;
	margin-top: 6px;
	background: #232752;
}


footer img{
	width: 20px;
}



/*section{
	column-count: 4;
	column-gap: 50px;
	column-rule: 3px solid #f35b04;
	}*/




/*clases*/


.logo{
	border-bottom: 2px solid #f35b04;
}
.menu{
	border-bottom: 2px solid #f35b04;

}

.video{
	width: 70%;
	margin: 0% 15%;
	background-size: 100% 100%;
	border: 2px solid #f35b04 ;
}



.contenedor_footer{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 1200px;	
	margin: auto; 
	margin-top: 30px;
}

.caja__footer{
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.caja__footer h2{
	font-family: 'Shippori Antique', sans-serif;
	margin-bottom: 15px;
	color: #FF931E;
	font-weight: 700;
}

.caja__footer a{
	font-size: medium;
	font-family: 'Exo 2', sans-serif;
	text-decoration: none;
	margin-bottom: 20px;
	color: #ffddd2;
	font-weight: 1000;
}

.caja__footer a:hover{
	opacity: 0.5;
}

.caja__derechos{
	max-width: 1200px;
	margin: auto;
	text-align: center;
	padding: 0px 40px;
}

.caja__derechos p{
	margin-top: 20px;
	color: #ffddd2;
	font-family: 'Arimo', sans-serif;

}

.caja__derechos hr{
	border: none;
	height: 1px;
	background-color: #FF931E;
}


.boton{
	margin-top: 60%;
 	background: #1C243D;
 	text-decoration: none;
 	padding: 10px 20px;
 	color: #fff;
 	font-family: 'Archivo Narrow', sans-serif;
 	border-radius: 15px;

 }

.boton:hover{
	background:#FF1D25;
	color: #0E0E1B;
	font-size: 18px;
	font-family: 'Shippori Antique', sans-serif;

}




.volver a{
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-size: 25px;
	color: #f35b04;
}